<div class="flex items-center h-screen w-full justify-center bg-cover" >
    <img class="flex items-center h-screen w-full justify-center bg-cover" src="https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg" alt="bg" >
    <div class="w-full md:w-3/12 absolute right-0 left-0 p-12 bg-black my-36 mx-auto text-white rounded-lg bg-opacity-60">
        <h1 class="text-center font-bold text-3xl py-4">Timeline Mapper</h1>
        <div class="flex items-center w-full justify-center" id="google-btn"></div>
    </div>
</div>
